# Análisis e Implementación en SparkQL

* Entrega hasta el 24 de mayo en https://forms.gle/aRiWtjayausRFCTd8

* Los dos conjuntos de datos entregados, CSV separados por coma, Evaluación del Pitch (2021.04.13 ISoftware).csv y Asistencia del Pitch (2021.04.13 ISoftware).csv proceden de dos encuestas realizadas con Google Forms.

* Los archivos proceden de las evaluaciones de los pitch (exposiciones cortas de negocio) que realizan los estudiantes de la asignatura de Ingeniería de Software. Los estudiantes están organizados en equipos. Cada equipo realiza una presentación de máximo 15 minutos, una vez inicia la presentación todos los estudiantes deben registrar su asistencia lo cual queda registrado en 'Asistencia del Pitch (2021.04.13 ISoftware).csv' incluidos los miembros del equipo.

* El archivo `Asistencia del Pitch (2021.04.13 ISoftware).csv` contiene las columnas: `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto,`"Equipo al que perteneces:"` equipo de trabajo al que pertenece el estudiante también es texto y `"Equipo que va a exponer:"` equipo que el estudiante va a tender a su presentación.

* El archivo `Evaluación del Pitch (2021.04.13 ISoftware).csv` contiene las columnas `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto, `"Equipo que vas a evaluar:"` equipo que ha expuesto y que va a ser evaluado por cada estudiante que no sea integrante; a continuación, se tienen las siguientes columnas que corresponden a la evaluación de los respectivos ítems:

    1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?",
    2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?",
    3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?",
    4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?",
    5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?",
    6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.",
    7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.",
    8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.",
    9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?",
    10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ",
    11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?",
    12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.",
    13. "Exposición: ¿Qué tan coordinados estaban los expositores?",
    14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?",
    15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.",
    * "Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",
    * "Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."


* Cada ítem se evalúa con la siguiente escala: 0. Ausente; 1. Deficiente; 2. Regular; 3. Aceptable; 4. Bueno; 5. Excelente

* Carge los datos, cada archivo en una tabla SparkSQL y responda cada una de las consultas dadas en cada celda. Tenga en cuenta que algunas consultas pueden tener como resultado el vacío.

# Integrantes del equipo
* **1.**  Juan David Rivera Builes   - 1128397071
* **2.**  Daniel Cardona Velasquez   - 1053851588
* **3.**  Carolina Loaiza Salazar    - 1036656435
* **4.**  Santiago Vasquez Rodriguez - 1035428867

In [ ]:
# Agrege acá el código para importar las librerias


# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Taller 02 SparkQL")

# definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

In [ ]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...

!ls datos

Asistencia.csv	Evaluacion.csv

In [ ]:
!hadoop fs -put datos/asistencia.csv

In [ ]:
!hadoop fs -put datos/evaluacion.csv

In [ ]:
!hadoop fs -ls

Found 6 items
drwxr-xr-x   - root root       4096 2021-05-27 23:37 .ipynb_checkpoints
-rwxrwxrwx   1 root root      25621 2021-05-02 16:45 Datos para el Trabajo.zip
-rwxrwxrwx   1 root root      68174 2021-05-27 23:29 TrabajoSparkQL.ipynb
-rw-r--r--   1 root root      93121 2021-05-27 23:46 asistencia.csv
drwxrwxrwx   - root root       4096 2021-05-27 23:33 datos
-rw-r--r--   1 root root     111944 2021-05-27 23:46 evaluacion.csv

In [ ]:
# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...

In [ ]:
!hadoop fs -cat asistencia.csv | head

"Marca temporal","Nombre de usuario","Equipo al que perteneces:","Equipo que va a exponer:"
"2021/04/08 8:07:55 a.��m. GMT-5","jppinedal@unal.edu.co","Pertenezco a: Servicios a domicilio","Expone: Servicios a domicilio"
"2021/04/08 8:09:39 a.��m. GMT-5","dgarciabl@unal.edu.co","Pertenezco a: Lo tengo y te lo presto.","Expone: Lo tengo y te lo presto."
"2021/04/08 8:09:53 a.��m. GMT-5","auarbelaeza@unal.edu.co","Pertenezco a: Gesti��n de Residencias y Habitaciones Universitarias.","Expone: Te lo cambio."
"2021/04/08 8:09:55 a.��m. GMT-5","jmunozhe@unal.edu.co","Pertenezco a: Lo tengo y te lo presto.","Expone: Te lo cambio."
"2021/04/08 8:10:03 a.��m. GMT-5","dgerenal@unal.edu.co","Pertenezco a: Te lo cambio.","Expone: Te lo cambio."
"2021/04/08 8:10:18 a.��m. GMT-5","nvalenciat@unal.edu.co","Pertenezco a: Te lo cambio.","Expone: Te lo cambio."
"2021/04/08 8:10:18 a.��m. GMT-5","fmiranda@unal.edu.co","Pertenezco a: Mi Sanandresito","Expone: Te lo cambio."
"2021/04/08 8:10:26 a.��m. GMT-5","jucardonaa@unal.edu.co","Pertenezco a: Gesti��n de programas curriculares","Expone: Te lo cambio."
"2021/04/08 8:10:28 a.��m. GMT-5","seagudeloo@unal.edu.co","Pertenezco a: Gesti��n de Residencias y Habitaciones Universitarias.","Expone: Te lo cambio."
cat: Unable to write to output stream.

In [ ]:
!hadoop fs -cat evaluacion.csv | head

"Marca temporal","Nombre de usuario","Equipo que vas a evaluar:","Introducci��n: El equipo responde adecuadamente ��Qui��nes son y por qu�� est��n aqu��?","Equipo: El equipo responde adecuadamente ��Qui��nes est��n detr��s de la idea y cu��l es su funci��n?","Problema: El equipo responde adecuadamente ��Qu�� problema resolver��?, ��es realmente un problema?","Ventajas: El equipo responde adecuadamente ��Por qu�� su soluci��n es especial?, ��qu�� la hace distinta de otras?","Soluci��n: El equipo responde adecuadamente ��C��mo piensa resolver el problema?","Producto: El equipo responde adecuadamente ��C��mo funciona el producto o servicio? Muestra algunos ejemplos.","Tracci��n: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.","Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tama��o del mercado que impactar��.","Competencia: El equipo responde adecuadamente ��Cu��les son las soluciones alternativas al problema que plantea?","Modelo de negocio: El equipo responde adecuadamente ��C��mo har�� dinero? ","Inversi��n: El equipo responde adecuadamente ��Cu��l es su presupuesto y cu��nto espera ganar?","Contacto: El equipo deja los datos al cliente y muestra c��mo pueden contactarle.","Exposici��n: ��Qu�� tan coordinados estaban los expositores?","Exposici��n: ��Los expositores se expresaron con claridad y se hicieron entender?","Exposici��n: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposici��n.","Suponiendo que eres inversionista, ��Estar��as dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)","Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentaci��n."
"2021/04/08 8:26:30 a.��m. GMT-5","jmunozbo@unal.edu.co","Te lo cambio.","5","5","5","5","5","5","5","5","5","5","3","5","5","5","5","Tal vez",""
"2021/04/08 8:26:49 a.��m. GMT-5","daestradam@unal.edu.co","Te lo cambio.","5","5","5","4","5","5","4","5","4","4","4","4","4","5","5","Tal vez",""
"2021/04/08 8:27:29 a.��m. GMT-5","seagudeloo@unal.edu.co","Te lo cambio.","4","4","4","4","4","4","4","4","3","4","3","5","5","4","5","S��",""
"2021/04/08 8:27:34 a.��m. GMT-5","jubuitrago@unal.edu.co","Te lo cambio.","5","4","5","4","5","5","4","4","5","4","4","4","5","5","5","No","Realmente siento que lo hicieron muy bien"
"2021/04/08 8:27:45 a.��m. GMT-5","acastrillonv@unal.edu.co","Te lo cambio.","3","3","2","2","3","4","3","3","3","4","3","4","4","3","3","No",""
"2021/04/08 8:27:51 a.��m. GMT-5","dgiraldolo@unal.edu.co","Te lo cambio.","3","2","4","3","4","4","3","3","4","4","3","3","2","3","3","Tal vez","La presentaci��n se hizo de manera pr��cticamente individual por parte de un expositor"
"2021/04/08 8:27:57 a.��m. GMT-5","jmonsalveb@unal.edu.co","Te lo cambio.","4","5","4","4","5","5","4","5","5","5","4","5","5","5","4","S��","Me pareci�� buena exposici��n, no tengo aportes para dar a este equipo."
"2021/04/08 8:27:58 a.��m. GMT-5","dosoriom@unal.edu.co","Te lo cambio.","5","5","5","4","5","5","5","5","5","5","5","5","5","5","4","S��","Muy chevere como muestran las interfaces gr��ficas de como funciona la app"
"2021/04/08 8:28:15 a.��m. GMT-5","jlopezpe@unal.edu.co","Te lo cambio.","4","2","4","4","4","5","4","5","3","4","3","5","5","3","4","Tal vez","Creo que se olvidaron de algunos detalles generales que no tomaron en cuenta , por ejemplo se me acurre el replantear el hecho de que se multe por cancelar un pr��stamo."
cat: Unable to write to output stream.

In [ ]:
ContextoSql.sql("DROP TABLE IF EXISTS asistencia")

DataFrame[]

In [ ]:
ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
asistencia (
    Marca_temporal             STRING,
    Nombre_de_usuario          STRING,
    Equipo_al_que_perteneces   STRING,
    Equipo_que_va_a_exponer    STRING
        ) 
USING CSV OPTIONS ( 
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='asistencia.csv')
    """);

In [ ]:
ContextoSql.sql("SHOW TABLES").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|asistencia|      false|
+--------+----------+-----------+

In [ ]:
consulta = ContextoSql.sql("SELECT * FROM asistencia")
consulta.show(10)

+--------------------+--------------------+------------------------+-----------------------+
|      Marca_temporal|   Nombre_de_usuario|Equipo_al_que_perteneces|Equipo_que_va_a_exponer|
+--------------------+--------------------+------------------------+-----------------------+
|2021/04/08 8:07:5...|jppinedal@unal.ed...|    Pertenezco a: Ser...|   Expone: Servicios...|
|2021/04/08 8:09:3...|dgarciabl@unal.ed...|    Pertenezco a: Lo ...|   Expone: Lo tengo ...|
|2021/04/08 8:09:5...|auarbelaeza@unal....|    Pertenezco a: Ges...|   Expone: Te lo cam...|
|2021/04/08 8:09:5...|jmunozhe@unal.edu.co|    Pertenezco a: Lo ...|   Expone: Te lo cam...|
|2021/04/08 8:10:0...|dgerenal@unal.edu.co|    Pertenezco a: Te ...|   Expone: Te lo cam...|
|2021/04/08 8:10:1...|nvalenciat@unal.e...|    Pertenezco a: Te ...|   Expone: Te lo cam...|
|2021/04/08 8:10:1...|fmiranda@unal.edu.co|    Pertenezco a: Mi ...|   Expone: Te lo cam...|
|2021/04/08 8:10:2...|jucardonaa@unal.e...|    Pertenezco a: Ges...|   Expone: Te lo cam...|
|2021/04/08 8:10:2...|seagudeloo@unal.e...|    Pertenezco a: Ges...|   Expone: Te lo cam...|
|2021/04/08 8:10:2...|jmonsalveb@unal.e...|    Pertenezco a: Ges...|   Expone: Te lo cam...|
+--------------------+--------------------+------------------------+-----------------------+
only showing top 10 rows

In [ ]:
ContextoSql.sql("DROP TABLE IF EXISTS evaluacion")

DataFrame[]

In [ ]:
ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
evaluacion (
          Marca_temporal            STRING,
          Nombre_de_usuario         STRING,
          Equipo_que_vas_a_evaluar  STRING ,
          Introduccion              INT,
          Equipo                    INT,
          Problema                  INT,
          Ventajas                  INT,
          Solucion                  INT,
          Producto                  INT,
          Traccion                  INT,
          Mercado                   INT,
          Competencia               INT,
          Modelo_de_negocio         INT,
          Inversion                 INT,
          Contacto                  INT,
          Exposicion_1              INT,
          Exposicion_2              INT,
          Exposicion_3              INT,
          invertirias_dinero        STRING,
          observaciones             STRING
        ) 
USING CSV OPTIONS ( 
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='evaluacion.csv')
    """);

In [ ]:
ContextoSql.sql("SHOW TABLES").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|asistencia|      false|
| default|evaluacion|      false|
+--------+----------+-----------+

In [ ]:
consulta = ContextoSql.sql("""
                           SELECT 
                           marca_temporal,
                           nombre_de_usuario ,
                           Equipo_que_vas_a_evaluar,
                           Introduccion,
                           Equipo,
                           Problema
                           FROM evaluacion
                           """)
consulta.show(10)

+--------------------+--------------------+------------------------+------------+------+--------+
|      marca_temporal|   nombre_de_usuario|Equipo_que_vas_a_evaluar|Introduccion|Equipo|Problema|
+--------------------+--------------------+------------------------+------------+------+--------+
|2021/04/08 8:26:3...|jmunozbo@unal.edu.co|           Te lo cambio.|           5|     5|       5|
|2021/04/08 8:26:4...|daestradam@unal.e...|           Te lo cambio.|           5|     5|       5|
|2021/04/08 8:27:2...|seagudeloo@unal.e...|           Te lo cambio.|           4|     4|       4|
|2021/04/08 8:27:3...|jubuitrago@unal.e...|           Te lo cambio.|           5|     4|       5|
|2021/04/08 8:27:4...|acastrillonv@unal...|           Te lo cambio.|           3|     3|       2|
|2021/04/08 8:27:5...|dgiraldolo@unal.e...|           Te lo cambio.|           3|     2|       4|
|2021/04/08 8:27:5...|jmonsalveb@unal.e...|           Te lo cambio.|           4|     5|       4|
|2021/04/08 8:27:5...|dosoriom@unal.edu.co|           Te lo cambio.|           5|     5|       5|
|2021/04/08 8:28:1...|jlopezpe@unal.edu.co|           Te lo cambio.|           4|     2|       4|
|2021/04/08 8:28:1...|angutierrezb@unal...|    Lo tengo y te lo ...|           4|     4|       5|
+--------------------+--------------------+------------------------+------------+------+--------+
only showing top 10 rows

In [ ]:
consulta = ContextoSql.sql("describe evaluacion")
consulta.show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|      Marca_temporal|   string|   null|
|   Nombre_de_usuario|   string|   null|
|Equipo_que_vas_a_...|   string|   null|
|        Introduccion|      int|   null|
|              Equipo|      int|   null|
|            Problema|      int|   null|
|            Ventajas|      int|   null|
|            Solucion|      int|   null|
|            Producto|      int|   null|
|            Traccion|      int|   null|
|             Mercado|      int|   null|
|         Competencia|      int|   null|
|   Modelo_de_negocio|      int|   null|
|           Inversion|      int|   null|
|            Contacto|      int|   null|
|        Exposicion_1|      int|   null|
|        Exposicion_2|      int|   null|
|        Exposicion_3|      int|   null|
|  invertirias_dinero|   string|   null|
|       observaciones|   string|   null|
+--------------------+---------+-------+

In [ ]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...
consulta = ContextoSql.sql("""
                            SELECT 
                            nombre_de_usuario
                            ,COUNT(1) as cantidad_encuestas_hechas
                            FROM asistencia
                            GROUP BY 1
                            HAVING COUNT(1)>1
                            ORDER BY 1 
                            """
                          )
consulta.show()

+--------------------+-------------------------+
|   nombre_de_usuario|cantidad_encuestas_hechas|
+--------------------+-------------------------+
| abanolc@unal.edu.co|                        7|
|acastrillonv@unal...|                        8|
| aflemag@unal.edu.co|                        8|
|anapariciom@unal....|                       10|
|angutierrezb@unal...|                        8|
|anoriega@unal.edu.co|                        8|
|auarbelaeza@unal....|                        8|
| bocampo@unal.edu.co|                        8|
|cgiraldo@unal.edu.co|                        8|
|cjfunezg@unal.edu.co|                        8|
|cquinchiar@unal.e...|                        6|
| dadazam@unal.edu.co|                        9|
|daestradam@unal.e...|                        8|
|davgarciava@unal....|                        8|
|dballesteroso@una...|                        8|
|  dbrito@unal.edu.co|                        7|
|dcadavid@unal.edu.co|                        8|
|dcardonaal@unal.e...|                        8|
|dchavarriar@unal....|                        8|
|dgarciabl@unal.ed...|                        9|
+--------------------+-------------------------+
only showing top 20 rows

In [ ]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...

consulta = ContextoSql.sql("""
                          WITH fecha_form AS (
                            SELECT 
                             *
                             ,TO_TIMESTAMP(MARCA_TEMPORAL,"yyyy/MM/dd hh:mm:ss ") AS Fecha_con_formato
                            FROM asistencia
                            )
                            SELECT 
                            nombre_de_usuario
                            ,COUNT(1)                  AS cantidad_encuestas_hechas
                            ,MIN(Fecha_con_formato)    AS primera_asistencia
                            ,MAX(Fecha_con_formato)    AS ultima_asistencia
                            FROM fecha_form
                            GROUP BY 1
                            ORDER BY 1 
                            """
                          )
consulta.show()

+--------------------+-------------------------+-------------------+-------------------+
|   nombre_de_usuario|cantidad_encuestas_hechas| primera_asistencia|  ultima_asistencia|
+--------------------+-------------------------+-------------------+-------------------+
| abanolc@unal.edu.co|                        7|2021-04-08 08:12:14|2021-04-13 09:37:56|
|acastrillonv@unal...|                        8|2021-04-08 08:13:06|2021-04-13 09:43:13|
| aflemag@unal.edu.co|                        8|2021-04-08 08:11:58|2021-04-13 09:41:54|
|anapariciom@unal....|                       10|2021-04-08 08:11:49|2021-04-13 09:38:51|
|angutierrezb@unal...|                        8|2021-04-08 08:19:06|2021-04-13 09:43:54|
|anoriega@unal.edu.co|                        8|2021-04-08 08:15:18|2021-04-13 09:40:20|
|auarbelaeza@unal....|                        8|2021-04-08 08:09:53|2021-04-13 09:41:04|
| bocampo@unal.edu.co|                        8|2021-04-08 08:13:30|2021-04-13 09:42:16|
|cgiraldo@unal.edu.co|                        8|2021-04-08 08:44:23|2021-04-13 09:56:44|
|cjfunezg@unal.edu.co|                        8|2021-04-08 08:12:15|2021-04-13 09:41:46|
|cquinchiar@unal.e...|                        6|2021-04-08 08:33:32|2021-04-13 09:49:09|
| dadazam@unal.edu.co|                        9|2021-04-08 08:13:18|2021-04-13 09:41:14|
|daestradam@unal.e...|                        8|2021-04-08 08:10:39|2021-04-13 09:44:39|
|davgarciava@unal....|                        8|2021-04-08 08:13:45|2021-04-13 09:42:39|
|dballesteroso@una...|                        8|2021-04-08 08:14:23|2021-04-13 09:49:07|
|  dbrito@unal.edu.co|                        7|2021-04-08 08:19:07|2021-04-13 09:41:36|
|dcadavid@unal.edu.co|                        8|2021-04-08 08:13:07|2021-04-13 09:40:58|
|dcardonaal@unal.e...|                        8|2021-04-08 08:12:03|2021-04-13 09:42:14|
|dchavarriar@unal....|                        8|2021-04-08 08:13:08|2021-04-13 09:43:56|
|dgarciabl@unal.ed...|                        9|2021-04-08 08:09:39|2021-04-13 09:41:04|
+--------------------+-------------------------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...
consulta = ContextoSql.sql("""
                            SELECT 
                            nombre_de_usuario
                            ,COUNT(1) as cantidad_encuestas_hechas
                            FROM asistencia
                            GROUP BY 1
                            HAVING COUNT(1)<=2
                            ORDER BY 2 DESC
                            """
                          )
consulta.show()

+--------------------+-------------------------+
|   nombre_de_usuario|cantidad_encuestas_hechas|
+--------------------+-------------------------+
|jdroldano@unal.ed...|                        1|
+--------------------+-------------------------+

In [ ]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...
consulta = ContextoSql.sql("""
                            SELECT 
                            DISTINCT
                            t1.nombre_de_usuario
                            FROM asistencia t1
                            LEFT JOIN evaluacion t2 ON  t1.nombre_de_usuario=t2.nombre_de_usuario
                            WHERE t2.nombre_de_usuario IS NULL
                            """
                          )
consulta.show()

+-----------------+
|nombre_de_usuario|
+-----------------+
+-----------------+

In [ ]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...
consulta = ContextoSql.sql("""
                          WITH integrantes AS (
                            SELECT 
                            DISTINCT
                            REPLACE(Equipo_al_que_perteneces,"Pertenezco a:","") as equipo
                            ,nombre_de_usuario
                            FROM asistencia 
                            )
                            SELECT 
                            equipo
                            ,COUNT(1) AS integrantes_en_equipo
                            FROM integrantes
                            GROUP BY 1
                            """
                          )
consulta.show()

+--------------------+---------------------+
|              equipo|integrantes_en_equipo|
+--------------------+---------------------+
| Lo tengo y te lo...|                   11|
| Gestión de Resid...|                   12|
| Gestión de progr...|                    9|
|     Mi Sanandresito|                   10|
| Servicios a domi...|                   10|
| Administración d...|                   13|
|       Te lo cambio.|                   11|
| Gestión de Menús...|                   11|
+--------------------+---------------------+

In [ ]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

consulta = ContextoSql.sql("""
                          WITH asis AS (
                            SELECT 
                            REPLACE(Equipo_al_que_perteneces,"Pertenezco a:","") as integrantes
                            ,REPLACE(Equipo_que_va_a_exponer,"Expone:","") as presentacion
                            ,nombre_de_usuario
                            FROM asistencia 
                            )
                            SELECT 
                            presentacion
                            ,COUNT(2) AS asistentes
                            FROM asis
                            WHERE integrantes<>presentacion
                            GROUP BY 1
                            """
                          )
consulta.show()

+--------------------+----------+
|        presentacion|asistentes|
+--------------------+----------+
| Lo tengo y te lo...|        75|
| Gestión de Resid...|        72|
| Gestión de progr...|        74|
|     Mi Sanandresito|        72|
| Deserción de est...|         3|
| Servicios a domi...|        76|
| Administración d...|        70|
|       Te lo cambio.|        75|
| Gestión de Menús...|        72|
+--------------------+----------+

In [ ]:
# 8. Consutar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...
consulta = ContextoSql.sql("""
                        WITH completo AS (
                          SELECT
                          REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
                          ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
                          ,asistencia.nombre_de_usuario as usuario
                          FROM evaluacion
                          INNER JOIN asistencia
                          ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario )
                          SELECT
                          usuario
                          ,COUNT(1) AS Evaluaciones_propias
                          FROM completo
                          WHERE integrantes=evaluado
                          GROUP BY 1
                            """
                          )
consulta.show()

+--------------------+--------------------+
|             usuario|Evaluaciones_propias|
+--------------------+--------------------+
| jruedat@unal.edu.co|                   8|
| kmolano@unal.edu.co|                   1|
|mcarvajalsa@unal....|                   1|
|daestradam@unal.e...|                   8|
|jhcordoba@unal.ed...|                   1|
|  lmayar@unal.edu.co|                   9|
|hriveraa@unal.edu.co|                   7|
|anapariciom@unal....|                   1|
+--------------------+--------------------+

In [ ]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismo equipo.
# Tu código a continuación...
consulta = ContextoSql.sql("""
                        WITH completo AS (
                          SELECT
                          REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
                          ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
                          ,asistencia.nombre_de_usuario as usuario
                          ,evaluacion.Introduccion as Introduccion
                          ,evaluacion.Equipo as Equipo
                          ,evaluacion.Problema as Problema
                          ,evaluacion.Ventajas as Ventajas
                          ,evaluacion.Solucion as Solucion
                          ,evaluacion.Producto as Producto
                          ,evaluacion.Traccion as Traccion
                          ,evaluacion.Mercado as Mercado
                          ,evaluacion.Competencia as Competencia
                          ,evaluacion.Modelo_de_negocio as Modelo
                          ,evaluacion.Inversion as Inversion
                          ,evaluacion.Contacto as Contacto
                          ,evaluacion.Exposicion_1 as Exposicion_1
                          ,evaluacion.Exposicion_2 as Exposicion_2 
                          ,evaluacion.Exposicion_3 as Exposicion_3
                          FROM evaluacion
                          INNER JOIN asistencia
                          ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario )
                          SELECT
                          AVG(Introduccion) as Introduccion
                          ,AVG(Equipo) as Equipo
                          ,AVG(Problema) as Problema
                          ,AVG(Ventajas) as Ventajas
                          ,AVG(Solucion) as Solucion
                          ,AVG(Producto) as Producto
                          ,AVG(Traccion) as Traccion
                          ,AVG(Mercado) as Competencia
                          ,AVG(Modelo) as Modelo_de_negocio
                          ,AVG(Inversion) as Inversion
                          ,AVG(Contacto) as Contacto
                          ,AVG(Exposicion_1) as Exposicion_1
                          ,AVG(Exposicion_2) as Exposicion_2
                          ,AVG(Exposicion_3) as Exposicion_3
                          FROM completo
                          WHERE integrantes<>evaluado
                            """
                          )
consulta.show()

consulta1 = ContextoSql.sql("""
                        WITH completo AS (
                          SELECT
                          REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
                          ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
                          ,asistencia.nombre_de_usuario as usuario
                          ,evaluacion.Introduccion as Introduccion
                          ,evaluacion.Equipo as Equipo
                          ,evaluacion.Problema as Problema
                          ,evaluacion.Ventajas as Ventajas
                          ,evaluacion.Solucion as Solucion
                          ,evaluacion.Producto as Producto
                          ,evaluacion.Traccion as Traccion
                          ,evaluacion.Mercado as Mercado
                          ,evaluacion.Competencia as Competencia
                          ,evaluacion.Modelo_de_negocio as Modelo
                          ,evaluacion.Inversion as Inversion
                          ,evaluacion.Contacto as Contacto
                          ,evaluacion.Exposicion_1 as Exposicion_1
                          ,evaluacion.Exposicion_2 as Exposicion_2 
                          ,evaluacion.Exposicion_3 as Exposicion_3
                          FROM evaluacion
                          INNER JOIN asistencia
                          ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario )
                          SELECT
                          evaluado
                          ,(AVG(Introduccion)+AVG(Equipo)+AVG(Problema)+AVG(Ventajas)+AVG(Solucion)+AVG(Producto)+AVG(Traccion)+AVG(Mercado)+AVG(Competencia)+AVG(Modelo)+AVG(Inversion)+AVG(Exposicion_1)+AVG(Exposicion_2)+AVG(Exposicion_3))/15 AS Nota_promedio
                          FROM completo
                          WHERE integrantes<>evaluado
                          GROUP BY 1
                            """
                          )
consulta1.show()

+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|     Introduccion|          Equipo|         Problema|         Ventajas|         Solucion|         Producto|          Traccion|      Competencia|Modelo_de_negocio|        Inversion|         Contacto|     Exposicion_1|     Exposicion_2|     Exposicion_3|
+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|4.364410480349345|4.29825327510917|4.383624454148472|4.170742358078603|4.384934497816594|4.440174672489083|4.2508733624454145|4.334279475982533|4.414410480349345|4.229912663755458|4.514847161572052|4.441266375545852|4.434279475982533|4.475982532751091|
+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+

+--------------------+------------------+
|            evaluado|     Nota_promedio|
+--------------------+------------------+
|Servicios a domic...|  4.11103408434431|
|Lo tengo y te lo ...|  4.17314487632509|
|Gestión de Reside...|  4.16797153024911|
|       Te lo cambio.|3.9830687830687834|
|Administración de...|3.9135757575757575|
|Deserción de estu...| 4.433333333333334|
|Gestión de Menús ...| 4.060899653979239|
|Gestión de progra...| 4.110994152046784|
|     Mi Sanandresito|3.9032657657657657|
+--------------------+------------------+

In [ ]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados)
# Tu código a continuación...
consulta = ContextoSql.sql("""
WITH completo AS (
    SELECT
        REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
         ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
         ,asistencia.nombre_de_usuario as usuario
         ,evaluacion.Introduccion as Introduccion
         ,evaluacion.Equipo as Equipo
         ,evaluacion.Problema as Problema
         ,evaluacion.Ventajas as Ventajas
         ,evaluacion.Solucion as Solucion
         ,evaluacion.Producto as Producto
         ,evaluacion.Traccion as Traccion
         ,evaluacion.Mercado as Mercado
         ,evaluacion.Competencia as Competencia
         ,evaluacion.Modelo_de_negocio as Modelo
         ,evaluacion.Inversion as Inversion
         ,evaluacion.Contacto as Contacto
         ,evaluacion.Exposicion_1 as Exposicion_1
         ,evaluacion.Exposicion_2 as Exposicion_2
         ,evaluacion.Exposicion_3 as Exposicion_3
    FROM evaluacion
             INNER JOIN asistencia
                        ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario
), tabla_avg as (
    SELECT
        evaluado
         ,AVG(Introduccion) as Introduccion
         ,AVG(Equipo) as Equipo
         ,AVG(Problema) as Problema
         ,AVG(Ventajas) as Ventajas
         ,AVG(Solucion) as Solucion
         ,AVG(Producto) as Producto
         ,AVG(Traccion) as Traccion
         ,AVG(Mercado) as Mercado
         ,AVG(Competencia) as Competencia
         ,AVG(Modelo) as Modelo
         ,AVG(Inversion) as Inversion
         ,AVG(Contacto) as Contacto
         ,AVG(Exposicion_1) as Exposicion_1
         ,AVG(Exposicion_2) as Exposicion_2
         ,AVG(Exposicion_3) as Exposicion_3
    FROM completo
    WHERE integrantes<>evaluado
    GROUP BY evaluado
)
SELECT
    evaluado AS Equipo 
    ,Introduccion AS Nota
    ,'Introduccion' as Item
    FROM tabla_avg
WHERE Introduccion = (SELECT MAX(Introduccion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Equipo AS Nota
    ,'Equipo' AS Item
    FROM tabla_avg
WHERE Equipo = (SELECT MAX(Equipo) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Problema AS Nota
    ,'Problema' AS Item
    FROM tabla_avg
WHERE Problema = (SELECT MAX(Problema) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Ventajas AS Nota
    ,'Ventajas' AS Item
    FROM tabla_avg
WHERE Ventajas = (SELECT MAX(Ventajas) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Solucion AS Nota
    ,'Solucion' AS Item
    FROM tabla_avg
WHERE Solucion = (SELECT MAX(Solucion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Producto AS Nota
    ,'Producto' AS Item
    FROM tabla_avg
WHERE Producto = (SELECT MAX(Producto) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Traccion AS Nota
    ,'Traccion' AS Item
    FROM tabla_avg
WHERE Traccion = (SELECT MAX(Traccion) FROM tabla_avg)
UNION ALL
     
SELECT
    evaluado AS Equipo
    ,Mercado AS Nota
    ,'Mercado' AS Item
    FROM tabla_avg
WHERE Mercado = (SELECT MAX(Mercado) FROM tabla_avg)
UNION ALL 

SELECT
    evaluado AS Equipo
    ,Competencia AS Nota
    ,'Competencia' AS Item
    FROM tabla_avg
WHERE Competencia = (SELECT MAX(Competencia) FROM tabla_avg)
UNION ALL 

SELECT
    evaluado AS Equipo
    ,Modelo AS Nota
    ,'Modelo' AS Item
    FROM tabla_avg
WHERE Modelo = (SELECT MAX(Modelo) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Inversion AS Nota
    ,'Inversion' AS Item
    FROM tabla_avg
WHERE Inversion = (SELECT MAX(Inversion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Contacto AS Nota
    ,'Contacto' AS Item
    FROM tabla_avg
WHERE Contacto = (SELECT MAX(Contacto) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_1 AS Nota
    ,'Exposicion_1' AS Item
    FROM tabla_avg
WHERE Exposicion_1 = (SELECT MAX(Exposicion_1) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_2 AS Nota
    ,'Exposicion_2' AS Item
    FROM tabla_avg
WHERE Exposicion_2 = (SELECT MAX(Exposicion_2) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_3 AS Nota
    ,'Exposicion_3' AS Item
    FROM tabla_avg
WHERE Exposicion_3 = (SELECT MAX(Exposicion_3) FROM tabla_avg)
  """)

consulta.show()

+--------------------+------------------+------------+
|              Equipo|              Nota|        Item|
+--------------------+------------------+------------+
|Gestión de Reside...| 4.556939501779359|Introduccion|
|Deserción de estu...|               5.0|      Equipo|
|Deserción de estu...|               5.0|    Problema|
|Deserción de estu...|               5.0|    Ventajas|
|Servicios a domic...|  4.50259965337955|    Solucion|
|Deserción de estu...|               5.0|    Producto|
|Deserción de estu...|               5.0|    Traccion|
|Gestión de Reside...| 4.683274021352313|     Mercado|
|Deserción de estu...|               5.0| Competencia|
|Gestión de Menús ...|4.6366782006920415|      Modelo|
|Gestión de progra...| 4.535087719298246|   Inversion|
|Deserción de estu...|               5.0|    Contacto|
|       Te lo cambio.| 4.574955908289241|Exposicion_1|
|Lo tengo y te lo ...| 4.598939929328622|Exposicion_2|
|Deserción de estu...|               5.0|Exposicion_3|
+--------------------+------------------+------------+

In [ ]:
# 10. Consulte el mejor equipo según el promedio total.
# Tu código a continuación...
consulta1 = ContextoSql.sql("""
WITH completo AS (
    SELECT
        REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
         ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
         ,asistencia.nombre_de_usuario as usuario
         ,evaluacion.Introduccion as Introduccion
         ,evaluacion.Equipo as Equipo
         ,evaluacion.Problema as Problema
         ,evaluacion.Ventajas as Ventajas
         ,evaluacion.Solucion as Solucion
         ,evaluacion.Producto as Producto
         ,evaluacion.Traccion as Traccion
         ,evaluacion.Mercado as Mercado
         ,evaluacion.Competencia as Competencia
         ,evaluacion.Modelo_de_negocio as Modelo
         ,evaluacion.Inversion as Inversion
         ,evaluacion.Contacto as Contacto
         ,evaluacion.Exposicion_1 as Exposicion_1
         ,evaluacion.Exposicion_2 as Exposicion_2
         ,evaluacion.Exposicion_3 as Exposicion_3
    FROM evaluacion
             INNER JOIN asistencia
                        ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario
),
     promedio as (
         SELECT
             evaluado
              ,(AVG(Introduccion)+AVG(Equipo)+AVG(Problema)+AVG(Ventajas)+AVG(Solucion)+AVG(Producto)+AVG(Traccion)+AVG(Mercado)+AVG(Competencia)+AVG(Modelo)+AVG(Inversion)+AVG(Exposicion_1)+AVG(Exposicion_2)+AVG(Exposicion_3))/15 AS Nota_promedio
         FROM completo
         WHERE integrantes<>evaluado
         GROUP BY 1
         )

SELECT
    evaluado AS Mejor_Equipo
    ,Nota_promedio AS Mejor_Nota
       FROM promedio
WHERE Nota_promedio = (SELECT MAX(Nota_promedio) FROM promedio)
    """
                          )
consulta1.show()

+--------------------+-----------------+
|        Mejor_Equipo|       Mejor_Nota|
+--------------------+-----------------+
|Deserción de estu...|4.433333333333334|
+--------------------+-----------------+

In [ ]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...

consulta = ContextoSql.sql("""
WITH completo AS (
    SELECT
        REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
         ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
         ,asistencia.nombre_de_usuario as usuario
         ,evaluacion.Introduccion as Introduccion
         ,evaluacion.Equipo as Equipo
         ,evaluacion.Problema as Problema
         ,evaluacion.Ventajas as Ventajas
         ,evaluacion.Solucion as Solucion
         ,evaluacion.Producto as Producto
         ,evaluacion.Traccion as Traccion
         ,evaluacion.Mercado as Mercado
         ,evaluacion.Competencia as Competencia
         ,evaluacion.Modelo_de_negocio as Modelo
         ,evaluacion.Inversion as Inversion
         ,evaluacion.Contacto as Contacto
         ,evaluacion.Exposicion_1 as Exposicion_1
         ,evaluacion.Exposicion_2 as Exposicion_2
         ,evaluacion.Exposicion_3 as Exposicion_3
    FROM evaluacion
             INNER JOIN asistencia
                        ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario
), tabla_avg as (
    SELECT
        evaluado
         ,AVG(Introduccion) as Introduccion
         ,AVG(Equipo) as Equipo
         ,AVG(Problema) as Problema
         ,AVG(Ventajas) as Ventajas
         ,AVG(Solucion) as Solucion
         ,AVG(Producto) as Producto
         ,AVG(Traccion) as Traccion
         ,AVG(Mercado) as Mercado
         ,AVG(Competencia) as Competencia
         ,AVG(Modelo) as Modelo
         ,AVG(Inversion) as Inversion
         ,AVG(Contacto) as Contacto
         ,AVG(Exposicion_1) as Exposicion_1
         ,AVG(Exposicion_2) as Exposicion_2
         ,AVG(Exposicion_3) as Exposicion_3
    FROM completo
    WHERE integrantes<>evaluado
    GROUP BY evaluado
)
SELECT
    evaluado AS Equipo 
    ,Introduccion AS Nota
    ,'Introduccion' as Item
    FROM tabla_avg
WHERE Introduccion = (SELECT MIN(Introduccion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Equipo AS Nota
    ,'Equipo' AS Item
    FROM tabla_avg
WHERE Equipo = (SELECT MIN(Equipo) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Problema AS Nota
    ,'Problema' AS Item
    FROM tabla_avg
WHERE Problema = (SELECT MIN(Problema) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Ventajas AS Nota
    ,'Ventajas' AS Item
    FROM tabla_avg
WHERE Ventajas = (SELECT MIN(Ventajas) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Solucion AS Nota
    ,'Solucion' AS Item
    FROM tabla_avg
WHERE Solucion = (SELECT MIN(Solucion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Producto AS Nota
    ,'Producto' AS Item
    FROM tabla_avg
WHERE Producto = (SELECT MIN(Producto) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Traccion AS Nota
    ,'Traccion' AS Item
    FROM tabla_avg
WHERE Traccion = (SELECT MIN(Traccion) FROM tabla_avg)
UNION ALL
     
SELECT
    evaluado AS Equipo
    ,Mercado AS Nota
    ,'Mercado' AS Item
    FROM tabla_avg
WHERE Mercado = (SELECT MIN(Mercado) FROM tabla_avg)
UNION ALL 

SELECT
    evaluado AS Equipo
    ,Competencia AS Nota
    ,'Competencia' AS Item
    FROM tabla_avg
WHERE Competencia = (SELECT MIN(Competencia) FROM tabla_avg)
UNION ALL 

SELECT
    evaluado AS Equipo
    ,Modelo AS Nota
    ,'Modelo' AS Item
    FROM tabla_avg
WHERE Modelo = (SELECT MIN(Modelo) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Inversion AS Nota
    ,'Inversion' AS Item
    FROM tabla_avg
WHERE Inversion = (SELECT MIN(Inversion) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Contacto AS Nota
    ,'Contacto' AS Item
    FROM tabla_avg
WHERE Contacto = (SELECT MIN(Contacto) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_1 AS Nota
    ,'Exposicion_1' AS Item
    FROM tabla_avg
WHERE Exposicion_1 = (SELECT MIN(Exposicion_1) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_2 AS Nota
    ,'Exposicion_2' AS Item
    FROM tabla_avg
WHERE Exposicion_2 = (SELECT MIN(Exposicion_2) FROM tabla_avg)
UNION ALL

SELECT
    evaluado AS Equipo
    ,Exposicion_3 AS Nota
    ,'Exposicion_3' AS Item
    FROM tabla_avg
WHERE Exposicion_3 = (SELECT MIN(Exposicion_3) FROM tabla_avg)
  """)

consulta.show()

+--------------------+------------------+------------+
|              Equipo|              Nota|        Item|
+--------------------+------------------+------------+
|Administración de...| 4.121818181818182|Introduccion|
|     Mi Sanandresito|3.9087837837837838|      Equipo|
|Administración de...|3.9709090909090907|    Problema|
|Gestión de progra...|3.9157894736842107|    Ventajas|
|Administración de...|4.1872727272727275|    Solucion|
|Gestión de Menús ...| 4.022491349480969|    Producto|
|Administración de...| 4.045454545454546|    Traccion|
|       Te lo cambio.| 4.088183421516755|     Mercado|
|     Mi Sanandresito| 3.518581081081081| Competencia|
|Servicios a domic...|4.2668977469670715|      Modelo|
|       Te lo cambio.|3.5943562610229276|   Inversion|
|Administración de...| 4.134545454545455|    Contacto|
|     Mi Sanandresito| 4.275337837837838|Exposicion_1|
|     Mi Sanandresito| 4.175675675675675|Exposicion_2|
|     Mi Sanandresito|             4.125|Exposicion_3|
+--------------------+------------------+------------+

In [ ]:
# 11. Consulte el peor equipo según el promedio total.
# Tu código a continuación...
consulta1 = ContextoSql.sql("""
WITH completo AS (
    SELECT
        REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
         ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
         ,asistencia.nombre_de_usuario as usuario
         ,evaluacion.Introduccion as Introduccion
         ,evaluacion.Equipo as Equipo
         ,evaluacion.Problema as Problema
         ,evaluacion.Ventajas as Ventajas
         ,evaluacion.Solucion as Solucion
         ,evaluacion.Producto as Producto
         ,evaluacion.Traccion as Traccion
         ,evaluacion.Mercado as Mercado
         ,evaluacion.Competencia as Competencia
         ,evaluacion.Modelo_de_negocio as Modelo
         ,evaluacion.Inversion as Inversion
         ,evaluacion.Contacto as Contacto
         ,evaluacion.Exposicion_1 as Exposicion_1
         ,evaluacion.Exposicion_2 as Exposicion_2
         ,evaluacion.Exposicion_3 as Exposicion_3
    FROM evaluacion
             INNER JOIN asistencia
                        ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario
),
     promedio as (
         SELECT
             evaluado
              ,(AVG(Introduccion)+AVG(Equipo)+AVG(Problema)+AVG(Ventajas)+AVG(Solucion)+AVG(Producto)+AVG(Traccion)+AVG(Mercado)+AVG(Competencia)+AVG(Modelo)+AVG(Inversion)+AVG(Exposicion_1)+AVG(Exposicion_2)+AVG(Exposicion_3))/15 AS Nota_promedio
         FROM completo
         WHERE integrantes<>evaluado
         GROUP BY 1
         )

SELECT
    evaluado AS Peor_Equipo
    ,Nota_promedio AS Peor_Nota
       FROM promedio
WHERE Nota_promedio = (SELECT MIN(Nota_promedio) FROM promedio)
    """
                          )
consulta1.show()

+---------------+------------------+
|    Peor_Equipo|         Peor_Nota|
+---------------+------------------+
|Mi Sanandresito|3.9032657657657657|
+---------------+------------------+

In [ ]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...
consult = ContextoSql.sql("""
 WITH completo AS (
                          SELECT
                          REPLACE(asistencia.Equipo_al_que_perteneces,"Pertenezco a: ","") as integrantes
                          ,evaluacion.Equipo_que_vas_a_evaluar as evaluado
                          ,asistencia.nombre_de_usuario as usuario
                          ,evaluacion.Introduccion as Introduccion
                          ,evaluacion.Equipo as Equipo
                          ,evaluacion.Problema as Problema
                          ,evaluacion.Ventajas as Ventajas
                          ,evaluacion.Solucion as Solucion
                          ,evaluacion.Producto as Producto
                          ,evaluacion.Traccion as Traccion
                          ,evaluacion.Mercado as Mercado
                          ,evaluacion.Competencia as Competencia
                          ,evaluacion.Modelo_de_negocio as Modelo
                          ,evaluacion.Inversion as Inversion
                          ,evaluacion.Contacto as Contacto
                          ,evaluacion.Exposicion_1 as Exposicion_1
                          ,evaluacion.Exposicion_2 as Exposicion_2 
                          ,evaluacion.Exposicion_3 as Exposicion_3
                          FROM evaluacion
                          INNER JOIN asistencia
                          ON asistencia.nombre_de_usuario = evaluacion.nombre_de_usuario )
                          SELECT
                          usuario as estudiante
                          ,(AVG(Introduccion)+AVG(Equipo)+AVG(Problema)+AVG(Ventajas)+AVG(Solucion)+AVG(Producto)+AVG(Traccion)+AVG(Mercado)+AVG(Competencia)+AVG(Modelo)+AVG(Inversion)+AVG(Exposicion_1)+AVG(Exposicion_2)+AVG(Exposicion_3))/15 AS Nota_promedio
                          FROM completo
                          WHERE integrantes<>evaluado
                          GROUP BY 1
                          """)
consult.show()

+--------------------+------------------+
|          estudiante|     Nota_promedio|
+--------------------+------------------+
|samolinap@unal.ed...| 4.504761904761905|
| jruedat@unal.edu.co|3.9555555555555553|
|nvalenciat@unal.e...|3.7333333333333334|
|serendona@unal.ed...|4.3428571428571425|
|jgutierrezlo@unal...|3.9238095238095245|
|dgerenal@unal.edu.co| 3.980952380952381|
|cjfunezg@unal.edu.co|4.0476190476190474|
|emflorezb@unal.ed...|  4.39047619047619|
|dchavarriar@unal....|  4.59047619047619|
|fguerrerot@unal.e...|4.0095238095238095|
|jdroldano@unal.ed...| 3.966666666666667|
|juriveras@unal.ed...|3.1523809523809523|
|jovillarrealm@una...| 4.495238095238094|
| lrdiaza@unal.edu.co|4.0095238095238095|
|dguardia@unal.edu.co| 3.780952380952381|
|fmiranda@unal.edu.co| 4.428571428571429|
|dcadavid@unal.edu.co|4.4190476190476184|
| bocampo@unal.edu.co|3.9047619047619047|
|rmbuilesm@unal.ed...|4.5888888888888895|
|jmunozhe@unal.edu.co| 3.952380952380952|
+--------------------+------------------+
only showing top 20 rows